:root {
    /*theme 1*/
    --main-background: hsl(222, 26%, 31%);
    --toggle-keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    /* Keys */
    --key-background: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --Red: hsl(6, 63%, 50%);
    --Dark-red: hsl(6, 70%, 34%);
    --Light-grayish-orange: hsl(30, 25%, 89%);
    --Grayish-orange: hsl(28, 16%, 65%);
    /* Text */
    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: var(--White);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background);
    padding: 30px;
}

.calc {
    width: 100%;
    height: 100%;
}
.themes{
    width: 50%;
    height: fit-content;
    font-size: 12px;
    letter-spacing: 1px;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.theme__title{
    margin: 15px 0 0 0;
}
.theme__change{
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.inputs{
    height: 30px;
    background-color: var(--toggle-keypad-background);
    border-radius: 20px;
}
input{
    display: none;
}
.range__label{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
input.range:checked + .range__label{
    opacity: 1;
}
.range__one{
 background-color: var(--Red);   
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
}
.screen {
    width: 100%;
    height: 100px;
    background-color: var(--screen-background);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.screen__result {
    width: 100%;
    text-align: right;
    font-size: 2rem;
}

.number {
    height: 60%;
    background-color: var(--toggle-keypad-background);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.numbers {
    width: 100%;
    height: 100%;
}

tbody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.numbers__el {
    height: 100%;
    font-size: 2rem;
    background-color: var(--Light-grayish-orange);
    color: var(--Very-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: -1px 4px 0px 0px var(--Grayish-orange);
    -webkit-box-shadow: -1px 4px 0px 0px var(--Grayish-orange);
    -moz-box-shadow: -1px 4px 0px 0px var(--Grayish-orange);
}

.special {
    display: grid;
    grid-column: span 2;
}

.special__el {
    font-size: 1.2rem;
    color: var(--White);
    background-color: var(--key-background);
    box-shadow: -1px 4px 0px 0px var(--key-shadow);
    -webkit-box-shadow: -1px 4px 0px 0px var(--key-shadow);
    -moz-box-shadow: -1px 4px 0px 0px var(--key-shadow);
}

.equal {
    background-color: var(--Red);
    box-shadow: -1px 4px 0px 0px var(--Dark-red);
    -webkit-box-shadow: -1px 4px 0px 0px var(--Dark-red);
    -moz-box-shadow: -1px 4px 0px 0px var(--Dark-red);
}